body {
  background-color: rgb(0, 0, 0);
}

.navbarr {
  position:sticky;
  top: 1px;
  background-color: rgba(0, 0, 0, 0.076);
  backdrop-filter: blur(10px);
}

span {
  padding: 5px;
  font-size: 1.5em;
  font-weight: 700;
  color: white;
}


h1 {
  color: rgb(3, 31, 16);
}

a{
  color: white !important;
  &:hover{
    color: greenyellow !important;
  }
}

.active {
  color: greenyellow !important;
}

.name {
  margin-right: 50px;
}

.prodc {
  text-align: center;
  color: aliceblue;

}

.cardimg {
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  height: 300px;
}

.conter {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
}

.price {
  font-size: 20px;
}

.contbutton {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.linkbutton {
  text-align: center;
  width: 100px;
}

.buttonl {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  color: black;
  width: 100px;
  background-color: greenyellow;
  border: 1px solid black;
  &:hover{
    background-color: black;
    border: 1px solid greenyellow;
  }
}

.cont {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  margin-top: 80px;
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  height: 30%;
  width: 30%;
  animation: girar 2s linear infinite;
}

@keyframes girar {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/* Detail style */

.containerdetail {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  border-left: 1px solid #00A676;
  border-right: 1px solid #00A676;
  height: 600px;
}
.tittledetail {
color: greenyellow;
}

.imgdetail {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.imgdetail img{
  border-radius: 20px;
  &:hover {
    transform: scale(1.1);
    transition: 1.5s;
  }

}

.contdetail {
  color: whitesmoke;
  height: 100px;

}

.contdetail h2 {
  height: 50%;
}